#Folders to ignore
bin/
target/
build/
maven/
.externalToolBuilders/

#Files to ignore
.settings
.project
.classpath
.manifest
buildLocal.xml
# intellij
*.iml
*.ipr
*.iws
.idea/
/.DS_Store

#Specific files to the project